* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
.nav-link {
  margin-left: 90px;
  list-style-type: none;
  font-size: 14px;
  font-weight: bold;
}

header {
  background-color: #c7c7c7;
  display: flex;
  width: 100%;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.logo-container {
  flex: 1;
  padding: 10px 0;
  padding-left: 5px
  }

.logo-container a:hover {
  opacity: .5;
}

nav a {
  flex: 1;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #7a7a7a;
}

nav li {
  display: inline-block;
  padding-top: 18px;
  position: relative;
}

nav a::before {
  content: '';
  display: block;
  height: 2px;
  background-color: black;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.insta {
  flex: 1;
  text-align: right;
  padding: 10px 0;
  padding-right: 5px;
}

.insta a:hover {
  opacity: .5;
}

.row {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
}

.column img {
  width: 15%;
  transition: opacity .25s;
  text-decoration: none;
  list-style-type: none;
}

.column img:hover {
  opacity: .5;
}

.footer {
  flex: 1;
  color: black;
  margin: auto;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.footer:hover {
  opacity: .5;
}
